// Body
$body-bg: #f8fafc;
$bg-content-form: #ebebeb93;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$colorBackground: #1A1A1A;
$otherbuttons: #25d366;

$colorYellow: #ffa400;
$colorGreen: #0cce6b;

$corPrincipal1: #6E58FF;
$corSecundaria: #ff7bb5;
