* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-bg;
    overflow-x: hidden;

    header {
        background-color: #c1c1c1;
        margin-bottom: 40px;

        nav {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    .edit {
                        display: none;
                    }
                }

            }
        }
    }

    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #form {
            max-width: 40vw;
            width: 100%;
            background: $bg-content-form;
            text-align: center;
            padding: 20px 0;

            img {
                width: 200px;
                margin-left: -35px;
                margin-bottom: 50px;
            }

            form {
                margin: 20px 0;

                input[type=text] {
                    width: 70%;
                    height: 30px;
                    padding: 5px 10px;
                    font-size: 18px;
                    border-radius: 20px;
                }

                input[type=button],
                input[type=submit] {
                    padding: 0 10px;
                    border-radius: 20px;
                    height: 40px;
                    font-size: 18px;
                }
            }
        }

        #buttons {
            margin: 5px auto;
            width: 50%;
            display: flex;
            justify-content: space-around;

            .outher-buttons {
                cursor: pointer;
                border: 1px solid $otherbuttons;
                color: $otherbuttons;
                background: none;
                padding: 3px 20px;
                height: 40px;
                font-size: 18px;

                &:hover {
                    border: 1px solid black;
                    color: black;
                }
            }
        }
    }

    .changeResult {
        width: 80%;
        margin: 0 10%;

        #controls {

            button {
                margin: 15px;
            }
        }

        #thumbs {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .card{
                width: 250px;
                margin: 0px 15px 10px 15px;
                border: 1px solid;
                display: flex;    
                flex-direction: column;
                align-items: center;
                padding: 0 5px;

                .check{
                    display: none;
                }

                .btn-select{
                    margin: 5px 0;
                }

                .info-img {
                    .info-top {
                        text-align: center;
                        margin: 5px 0;
                    }
                    figure{
                        max-width: 250px;
                        height: 250px;
                        
                        img {
                            width: 100%;
                        }
                    }

                    .info-description{
                        margin: 10px 0;

                        .links-cliente{
                            list-style: none;
                            display: flex;
                            justify-content: space-around;
                        }

                        .redes{
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            margin: 10px 0px 10px 35px;

                            li{
                                margin: 5px 0;
                            }

                        }
                    }

                }

            }

            .cardSelected{
                background-color: rgb(41, 41, 41);

                p, h1, h2, h3, li, a{
                    color: white;
                }
            }
        }
    }
    #paulo{
        position: absolute;
        bottom: -500px;
        right: 500px;
    }
    .animacao{animation: showBottom 10s infinite;}

    #solta {
        width: 300px;
        position: absolute;
        bottom: 0px;
        animation: showSides 12s infinite;
    }
}